*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

:root{
    --bg-color:#1f242d;  /*Main background color */
    --second-bg-color:#323946;  /*Section / card background*/
    --text-color:#fff;  /*Normal text color*/
    --main-color:#0ef;  /*Highlight / button / hover color*/
}

html{
    font-size: 62.5%;
    overflow-x: hidden; /*close Horizontal scroll*/
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;    /* Fixes the navbar at the top of the screen */
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;     /* Pushes logo left and nav links right */
    align-items: center;    /* Vertically centers navbar items */
    z-index: 100;           /* Keeps the navbar above all other page content when elements overlap */
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 2.5rem;
    color: var(--text-color);
    margin-left: 4rem;      /* space between menu items */
    transform: .3s;
    position: relative;      /* underline mate */
    transition: color .3s ease;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;             /* text ni niche gap */
    width: 0%;
    height: 3px;
    background: var(--main-color);
    transition: width .3s ease;
}

.navbar a:hover::after,
.navbar a.active::after{
    width: 100%;
}


#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;  /*apace beetwen img and text */
}

.home-image img{
    width: 52vw;          
    height: 52vw;         
    max-width: 600px;     /*img 600px kata moti ni thay*/
    max-height: 600px;

    border-radius: 50%;
    object-fit: cover;

    border: 5px solid var(--main-color);   /*BORDER */
    padding: 8px;                          /* border ane photo vachhe gap */
    background: var(--bg-color);           /* gap ma bg color */

    animation: floatImage 4s ease-in-out infinite;  /*ani_name,timming,movement motion,endless repeat*/
    transition: border-color .4s ease, box-shadow .4s ease;
}


/* floating animatin */

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

/* border glow effect on hover */

.home-image img:hover{
    box-shadow: 0 0 3rem var(--main-color);
    border-color: #fff;
}



.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border:.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transform: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transform: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background: var(--second-bg-color);
}

.about-img img{
    width:35vw;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0  3rem ;
}

.about-img img{
    width: 45vw;
    height: 45vw;
    max-width: 600px;
    max-height: 600px;

    border-radius: 50%;
    object-fit: cover;

    border: 5px solid var(--main-color);
    padding: 8px;
    background: var(--second-bg-color);
}

.services h2{
    margin-bottom: 5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}